apiVersion: v1alpha
kind: testcafe
defaults:
  mode: sauce
sauce:
  region: us-west-1
  concurrency: 2 # Controls how many suites are executed at the same time.
  metadata:
    name: saucectl testcafe example
    tags:
      - e2e
      - release team
      - other tag
    build: Release $CI_COMMIT_SHORT_SHA
docker:
  # Affects how test files are transferred to the docker container when using the docker mode (--test-env docker).
  fileTransfer: copy # Choose between mount|copy.
testcafe:
  version: 1.11.0
# Controls what files are available in the context of a test run (unless explicitly excluded by .sauceignore).
rootDir: ./
suites:
  - name: "Chrome"
    mode: sauce
    browserName: "chrome"
    src:
      - "tests/*.test.js" # test files glob
    platformName: "mac 11.00" # Only relevant when running a test against the sauce cloud (--test-env sauce).
  - name: "Firefox in docker"
    mode: docker
    browserName: "firefox"
    src:
      - "tests/*.test.js"
  - name: "Firefox in sauce"
    mode: sauce
    browserName: "firefox"
    src:
      - "tests/*.test.js"
    platformName: "Windows 10"

# Controls what artifacts to fetch when the suite on Sauce Cloud has finished.
artifacts:
  download:
    when: always
    match:
      - console.log
    directory: ./artifacts/
